<mat-card class='card-login mat-elevation-z8'>
    <mat-card-title class='login-title'>
       <!-- <img id="img-pref" src="../../../assets/img/rj_pref.jpeg"> -->
        Login
    </mat-card-title>

    <form [formGroup]='form' (ngSubmit)="onSubmit()" class='form-login'>

        <mat-form-field>
            <input formControlName="mat" matInput id="input-mat" placeholder="Digite sua matrícula"/>
        </mat-form-field>

        <button routerLink='dashboard' type="submit" mat-raised-button color="basic">Buscar Notas</button>
     </form>
</mat-card>

