#container-table #data-table tr,
#container-table #data-table td,
#container-table #data-table th{
    border-radius: 2px;
    box-shadow: 0 0 6px #999;
    background-color: #ddd;
}

.div-container{
    border-radius: 2px;
    box-shadow: 0 0 6px #777;
    background-color: #ccc;
}

#card-title{
    text-align: center;
}

#container-table{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-table #data-table{
    width: 100%;
}

mat-card-title{
    margin: 0 0 5% 0;
}