<mat-card>
    <mat-card-title id="card-title">
        Boletim Escolar
    </mat-card-title>
    <mat-card-content>
        <span><strong>Escola:</strong> 0918069 - EM PROFESSORA JUREMA PEÇANHA GIRAUD</span>
        <br/>
        <hr/>
        <span><strong>Nome do Aluno: </strong>{{student.name}}</span>
        <br/>
        <hr/>
        <span><strong>Etapa de Ensino: </strong>2021 - Ensino Fundamental</span>
    </mat-card-content>
</mat-card>
<br>
<mat-card>
    <div class="div-container">
        <mat-card-title>Médias Bimestrais</mat-card-title>
        <mat-card-subtitle>1º COC</mat-card-subtitle>
    </div>
    
    <mat-card-content id="container-table">
        <table id="data-table">
            <tr>
                <th>Disciplinas</th>
                <th>Conc.</th>
                <th>Nota</th>
                <th>Frequência</th>
                <th>Rec</th>
            </tr>
            <tr>
                <th>Conceito Global</th>
                <td>{{student.matObj[0].global}}</td>
                <td>{{student.matObj[0].global}}</td>
                <td>{{student.frequency}} %</td>
                <td>{{student.matObj[0].rec}}</td>
            </tr>
            <tr>
                <th>Artes</th>
                <td>{{student.matObj[7].artes}}</td>
                <td>{{student.matObj[7].artes}}</td>
                <td>{{student.freq}} %</td>
                <td>{{student.matObj[7].rec}}</td>
            </tr>
            <tr>
                <th>Ciências</th>
                <td>{{student.matObj[1].ciencias}}</td>
                <td>{{student.matObj[1].ciencias}}</td>
                <td>{{student.freq}} %</td>
                <td>{{student.matObj[1].rec}}</td>
            </tr>
            <tr>
                <th>Educação Física</th>
                <td>{{student.matObj[2].edfisica}}</td>
                <td>{{student.matObj[2].edfisica}}</td>
                <td>{{student.freq}} %</td>
                <td>{{student.matObj[2].rec}}</td>
            </tr>
            <tr>
                <th>Geografia</th>
                <td>{{student.matObj[3].geografia}}</td>
                <td>{{student.matObj[3].geografia}}</td>
                <td>{{student.freq}} %</td>
                <td>{{student.matObj[3].rec}}</td>
            </tr>
            <tr>
                <th>História</th>
                <td>{{student.matObj[4].historia}}</td>
                <td>{{student.matObj[4].historia}}</td>
                <td>{{student.freq}} %</td>
                <td>{{student.matObj[4].rec}}</td>
            </tr>
            <tr>
                <th>Inglês</th>
                <td>{{student.matObj[8].ingles}}</td>
                <td>{{student.matObj[8].ingles}}</td>
                <td>{{student.freq}} %</td>
                <td>{{student.matObj[8].rec}}</td>
            </tr>
            <tr>
                <th>Língua Portuguesa</th>
                <td>{{student.matObj[5].portugues}}</td>
                <td>{{student.matObj[5].portugues}}</td>
                <td>{{student.freq}} %</td>
                <td>{{student.matObj[5].rec}}</td>
            </tr>
            <tr>
                <th>Matemática</th>
                <td>{{student.matObj[6].matematica}}</td>
                <td>{{student.matObj[6].matematica}}</td>
                <td>{{student.freq}} %</td>
                <td>{{student.matObj[6].rec}}</td>
        </table>
    </mat-card-content>
</mat-card>